---
- name: set_fact_release_name
  github_get_release_name:
    owner: "{{ k3s_github_owner }}"
    repo: "{{ k3s_github_repo }}"
    release_name: "{{ k3s_github_release_name }}"
  register: release_name

- name: debug release name
  debug:
    msg: " {{ release_name }}"

- name: Download k3s binary x64
  get_url:
    url: "https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ release_name }}/k3s"
    checksum: "sha256:https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ release_name }}/sha256sum-amd64.txt"
    dest: "/usr/local/bin/k3s"
    owner: "root"
    group: "root"
    mode: 0755
  when: ansible_facts.architecture == "x86_64"

- name: Download k3s binary arm64
  get_url:
    url: "https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ github.k3s.release_name }}/k3s-arm64"
    checksum: "sha256:https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ github.k3s.release_name }}/sha256sum-arm64.txt"
    dest: "/usr/local/bin/k3s"
    owner: "root"
    group: "root"
    mode: 0755
  when:
    - ( ansible_facts.architecture is search("arm") and
        ansible_facts.userspace_bits == "64" ) or
      ansible_facts.architecture is search("aarch64")

- name: Download k3s binary armhf
  get_url:
    url: "https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ github.k3s.release_name }}/k3s-armhf"
    checksum: "sha256:https://github.com/{{ k3s_github_owner }}/"{{ k3s_github_repo }}"/releases/download/{{ github.k3s.release_name }}/sha256sum-arm.txt"
    dest: "/usr/local/bin/k3s"
    owner: "root"
    group: "root"
    mode: 0755
  when:
    - ansible_facts.architecture is search("arm")
    - ansible_facts.userspace_bits == "32"